/*
  Code defining flex-box container. Would be good to extend its features in the future.
 */
@mixin flex-box($direction, $howJustify, $howAlign, $isWrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $howJustify;
  align-items: $howAlign;
  @if($isWrap){
    flex-wrap: wrap;
  }@else{
    flex-wrap: nowrap;
  }
}

/*
  Creating a shadow-box template
 */
@mixin shadow-box($rgba-main, $rgba-after){
  -moz-box-shadow: 1px 2px 4px $rgba-main;
  -webkit-box-shadow: 1px 2px 4px $rgba-main;
  box-shadow: 1px 2px 4px $rgba-main;

  &:after{
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px $rgba-after;
    -moz-box-shadow: 0 15px 20px $rgba-after;
    box-shadow: 0 15px 20px $rgba-after;
  }
}

/*
  Translating elements with given values
 */
@mixin translate-box($translateX, $translateY){
  transform:translate($translateX,$translateY);
  -webkit-transform:translate($translateX, $translateY);
  -moz-transform:translate($translateX, $translateY);
  -o-transform:translate($translateX,$translateY);
}

/*
  Makes an DOM element have grab cursor over it
 */
@mixin grab-active(){
  //cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}