@import "mixins";
@import "variables";

.image-gallery-container {
  @include flex-box(row, flex-start, flex-start, false);
  background: transparent;
  position: absolute;
  transition: 0.7s ease;
  z-index: 300;
  right: 0;
  min-width: $image-gallery-container-width;

  .image-gallery-trigger{
    background: $light-color-theme;
    top: 0;
    padding: 8px 15px 8px 15px;
    border-bottom-left-radius: 20px;
    cursor: pointer;


    span{
      color: $dark-color-theme;
      font-weight: 800;
      display: block;
    }
  }

  .image-gallery-content {
    @include flex-box(column, flex-start, center, false);
    background-color: $light-color-theme;
    box-sizing: border-box;
    width: $image-gallery-container-width;
    height: calc(100vh - #{$header-container-height});

    .image-gallery-list{
      box-sizing: border-box;
      overflow:auto;
      //overflow-x: hidden;
      padding:10px 15px 10px 15px;
      min-height:100%;

      :first-child{
        margin-top: 0!important;
      }

      .single-image-container{
        @include flex-box(column, flex-start, center, false);
        margin-bottom: 20px;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        overflow: hidden;

        &>img{
          max-width: 100%;
          max-height: 300px;
          cursor: pointer;
          background-size: cover;
          background-position: center;
          object-fit:cover;
          @include gray-scale-filter(80%);
          transition: 0.5s ease;
          -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
          -moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow:0 0 20px rgba(0, 0, 0, 0.5);

          &.active{
            @include gray-scale-filter(0);
          }

          &:hover{
            @include gray-scale-filter(20%);
            @include zoom-in(1.1);
          }
        }

        .delete-image-container{
          height: 0;
          display: none;
          position: relative;
          top: 5px;
          z-index: 100;
          left: calc(50% - 25px);
          cursor: pointer;
          img{
            width: 40px;
            height: 40px;
            border: none;
          }
        }
        &:hover{
          .delete-image-container{
            display: block;
          }
        }
      }

      :last-child{
        margin-bottom: 0!important;
      }
    }

    .image-gallery-list:not(:first-child){
      margin-top: 10px;

    }

  }

  &.non-active{
    @include translate-box($image-gallery-container-width,0);
  }

  &.active{
    @include translate-box(0,0);
  }
}


@media screen and (max-width: $mobile-threshold-width){
  .image-gallery-container{
    display: none;
  }
}