@import "variables";
@import "mixins";

.main-content-container{
  width: 100vw;
  height: calc(100vh - #{$header-container-height});
  @include flex-box(row, center, center, true);
  background: $main-content-bg-color;

  .fun-canvas{
    background: transparent!important;

  }
}