@import "variables";
@import "mixins";

.main-content-container{
  width: 100vw;
  height: calc(100vh - #{$header-container-height});
  @include flex-box(row, center, center, true);
  //background: $main-content-bg-color;
  background: linear-gradient($dark-color-theme, $alt-dark-color-theme);
  //.bg-container{
  //  position: absolute;
  //  background: $fresh-color;
  //  height: 100%;
  //  width: 100%;
  //  transform: translate(50px, 0px) skew(6deg, -36deg);
  //  bottom: -100px;
  //}


  .fun-canvas-container{
    position: absolute;


    &:hover{
      .main-canvas-action-box {
        visibility: visible;
      }
    }
    .main-canvas-action-box{
      visibility: hidden;
      max-width: 100%;
      height: 12%;
      position: absolute;
      right: 0;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      @include flex-box(row, flex-end,center,true);

      .single-action-box{
        width:10%;
        height: 100%;
        right: 0;
        padding: 3px;
        box-sizing: border-box;
        cursor: pointer;
        @include flex-box(column, center,center, true);
        background: $silver-color-theme;
        z-index: 250;

        &:hover{
          background: lighten($silver-color-theme, 5%);
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          overflow: hidden;
          display: block;
          //transition: background 0.7s;
          &:hover{
            @include zoom-in(1.1);
          }
        }
      }
    }

    .fun-canvas{
      background: $light-color-theme;
      opacity: 0.8;
    }
  }


}