@import "variables";
@import "mixins";

.parameters-container {
  width: 100vw;
  height: calc(100vh - #{$header-container-height});
  background-color: transparent;
  position: absolute;
  box-sizing: border-box;
  @include translate-box(0, calc(100vh - #{$header-container-height} - 35px));
  transition: 0.9s ease;
  z-index: 250;

  .parameters-header-container {
    width: 100%;
    font-weight: bolder;
    box-sizing: border-box;
    height: 35px;
    background-color: transparent !important;
    text-align: center;

    .parameters-header {
      display: block;
      background-color: $light-color-theme;
      height: 100%;
      font-size: 16pt;
      color: $main-content-bg-color;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      cursor: pointer;
    }

    @media screen and(min-width: $mobile-threshold-width) {
      .parameters-header {
        margin: auto;
        width: 150px;
        height: 100%;
        position: relative;
        max-width: 200px;
      }
    }
  }
  &.active {
    @include translate-box(0, -35px);

    .parameters-header {
      transition: 0.5s ease;
      border-top: solid 2px $dark-color-theme;
      border-left: solid 2px $dark-color-theme;
      border-right: solid 2px $dark-color-theme;
    }

    .parameters-remove-container {
      visibility: visible;
    }
  }

  .parameters-remove-container {
    display: none;
    background-color: $light-color-theme;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100px;
    top: 60px;
    font-size: 25pt;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    transition: 0.6s ease;
    visibility: hidden;

    span {
      cursor: pointer;
      display: block;
      color: $fresh-color;
    }

    &:hover {
      background-color: $fresh-color;
      span {
        color: $dark-color-theme;
      }
      cursor: pointer;
    }
  }

  .parameters-list {
    height: calc(100vh - #{$header-container-height});
    width: 100%;
    background-color: $dark-color-theme;
    box-sizing: border-box;
    @include flex-box(column, flex-start, center, true);
    opacity: 0.8;

    .single-parameter-container {
      width: auto;
      background-color: transparent;
      color: $light-color-theme;
      padding: 8px;
      margin-top: 6px;
      opacity: 1;
      @include flex-box(column, center, center, true);

      span {
        margin: 15px;
        font-size: 10pt;
        font-weight: 500;

      }
      input[type=range] {
        width: 700px;
      }
    }

    .own-filter-container {
      text-align: center;
      color: $light-color-theme;
      font-weight: 500;
      font-size: 16pt;
      .kernel-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border: none;
        color:$light-color-theme;

        .single-kernel-value-container {
          input {
            background: transparent;
            width: 60px;
            height: 60px;
            text-align: center;
            color: $fresh-color;
            font-weight: 700;
            padding: 12px;
            font-size: 16pt;
            border: solid 1px $silver-color-theme;

            &:focus {
              border: solid 1px $fresh-color;
            }

          }
        }
      }
      span{
        margin-top: 10px;
      }
    }
  }
}