@import "mixins";
@import "variables";

.toolbox-container{
  @include flex-box(column, flex-start, center, false);
  height: calc(100vh - #{$header-container-height});
  width: $tool-box-container-width;
  box-sizing: border-box;
  padding: 30px 10px 30px 10px;

  .drop-zone-container{
    color: $dark-color-theme;
    border: dotted 2px $dark-color-theme;

    .drop-zone {
      @include flex-box(column,center,center,true);
      width: 200px;
      height: 120px;
      input {
        display: none;
        visibility: hidden;
      }

      p{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}