@import "mixins";
@import "variables";

.toolbox-container {
  @include flex-box(row, flex-start, flex-start, false);
  background: transparent;
  position: absolute;
  transition: 0.7s ease;
  z-index: 100;

  .toolbox-content {
    @include flex-box(column, flex-start, center, false);
    width: $tool-box-container-width;
    box-sizing: border-box;
    padding: 30px 10px 30px 10px;
    background: $tool-box-container-bg;
    height: calc(100vh - #{$header-container-height});

    .drop-zone-container {
      color: $dark-color-theme;
      //border: dotted 2px $dark-color-theme;

      .drop-zone {
        @include flex-box(column, center, center, true);
        width: 200px;
        height: 120px;
        input {
          display: none;
          visibility: hidden;
        }

        img{
          display: block;
          width: 80%;
          height: 100%;
        }
        p {
          font-size: 16px;
          font-weight: 700;
        }
      }

      @media screen and (max-width: $small-desktop-max-width) {

        .drop-zone{
          width: 110px;
          height: 80px;


          p {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }

    }

    .algorithms-container{
      @include flex-box(column, center, center, false);
      box-sizing:border-box;
      font-size: 12pt;
      font-weight: 500;

      .single-algorithm-container{
        margin-top: 20px;
        box-sizing: border-box;
        padding: 8px;
        background: $dark-color-theme;
        cursor: pointer;
        text-align: center;
        border-radius: 20px;
        color:$light-color-theme;
        transition: 0.7s ease;

        &:hover{
          background-color: lighten($fresh-color, 10);
          color: darken(white, 10);
        }

        &:active{
          background-color: darken($fresh-color, 10);
          color: lighten(white, 10);
        }

        span{
          display: block;
          border-radius: 10px;

        }
      }
    }
  }

  &.non-active{
    @include translate-box(-$tool-box-container-width,0);
  }

  &.active{
    @include translate-box(0,0);
  }

  .toolbox-trigger{
    background: $light-color-theme;
    top: 0;
    padding: 8px 15px 8px 15px;
    border-bottom-right-radius: 20px;
    cursor: pointer;

    span{
      color: $dark-color-theme;
      font-weight: 800;
      display: block;
    }
  }
}


@media screen and (max-width: $mobile-threshold-width){

  .toolbox-container{
    display: none;
  }
}

